<template name="home">
    <!--<div class="container-fluid">-->
        <div id="plant-1">
            <div class="row">
                <div class="col-md-12">
                    <h1>Géré votre glycémie facilement</h1>
                    <p>
                        Steon est un site qui vous permet facilement de géré votre glycémie <br>
                        à l'aide d'un gestionnaire de charge glycémique journalier.
                    </p>
                    <div class="down-arrow">
                        <i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="plant-2">
            <div class="row">
                <div class="col-md-12">
                    

                </div>
            </div>
        </div>
        <div id="plant-3">
            <div class="row">
                <div class="col-md-12">
                    

                </div>
            </div>
        </div>
        <div id="plant-4">
            <div class="row">
                <div class="col-md-12">
                    

                </div>
            </div>
        </div>
    <!--</div>-->
</template>