#plant-1 {
  height: 25em;
  color: #F4F4F4;
  background-color: #FF4136;
}
#plant-2 {
  height: 25em;
  color: #FFF;
  background-color: #111;
}
#plant-3 {
  height: 25em;
  color: #000;
  background-color: #AAA;
}
#plant-4 {
  height: 25em;
  color: #F4F4F4;
  background-color: #F4F4F4;
}
