// -------------------  COULEUR -------------------
@couleur-fond-plant-1: #FF4136;
@couleur-text-plant-1: #F4F4F4;

@couleur-fond-plant-2: #111;
@couleur-text-plant-2: #FFF;

@couleur-fond-plant-3: #AAA;
@couleur-text-plant-3: #000;

@couleur-fond-plant-4: #F4F4F4;
@couleur-text-plant-4: #F4F4F4;
// -------------------  less -------------------
#plant-1{
    height: 25em;
    color: @couleur-text-plant-1;
    background-color: @couleur-fond-plant-1;
}
#plant-2{
    height: 25em;
    color: @couleur-text-plant-2;
    background-color: @couleur-fond-plant-2;
}
#plant-3{
    height: 25em;
    color: @couleur-text-plant-3;
    background-color: @couleur-fond-plant-3;
}
#plant-4{
    height: 25em;
    color: @couleur-text-plant-4;
    background-color: @couleur-fond-plant-4;
}