<template name="home">
    <!--<div class="container-fluid">-->
        <div id="plant-1" class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <h1>Stéon</h1>
                    <p>
                        Steon est un site qui vous permet facilement de géré votre glycémie <br>
                        à l'aide d'un gestionnaire de charge glycémique journalier.
                    </p>
                    <button type="button" class="btn btn-outline btn-success btn-lg animated flipInX">Commencer maintenant</button>
                    <div class="down-arrow">
                        <img src="/images/down-arrow.svg" alt="image d'une flèches vers le bas">
                    </div>
                </div>
            </div>
        </div>
        <div id="plant-2" class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="mac-window col-centered">
                        <div class="mac-window-header">
                            <i class="fa fa-circle mac-red-btn" aria-hidden="true"></i>
                            <i class="fa fa-circle mac-ylw-btn" aria-hidden="true"></i>
                            <i class="fa fa-circle mac-grn-btn" aria-hidden="true"></i>
                            <div class="mac-url-control">http://steon.be</div>
                        </div>
                        <div class="mac-in-window">
                            <h1>ICI mettre une capture d'écran ou un html basic du site fini</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="plant-3" class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="titre-plant-3">Votre experiences</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <img src="/images/layers-design.svg" alt="images représentant basiquement de l'UX Design">
                    <h4>Web interface</h4>
                    <p>Le design du site est épeuré.<br>Vous ne serez pas désorienté <br>pendent la navigation.</p>
                </div>
                <div class="col-md-2">
                    <img src="/images/cardiogram.svg" alt="images représentant basiquement de l'UX Design">
                    <h4>Statistiques</h4>
                    <p>Tout au long de notre coatching.<br>Suivez votre progression <br>à la loupe !</p>
                </div>
                <div class="col-md-2">
                    <img src="/images/wallet.svg" alt="images représentant basiquement de l'UX Design">
                    <h4>Gratuit</h4>
                    <p>Confidentialité respecté.<br>Pas de pub</p>
                </div>
            </div>
        </div>
        <!--<div id="plant-4">
            <div class="row">
                <div class="col-md-12">
                    

                </div>
            </div>
        </div>-->
    <!--</div>-->
</template>