<template name="liste">
    <div id="liste-main">
        <div class="nav-collection">
            <div class="list-head">
                <div class="collection-select">Fruits</div>
                <div class="collection-select">Légume</div>
                <div class="collection-select">Préparations</div>
                <div class="collection-select">Personnel</div>
            </div>
            <div class="list-search">
                <input id="search" type="text" placeholder="Rechercher dans une collection">
            </div>
            <div class="all-item-collection">
                <!-- exemple de item -->
                <div class="this-item">
                    <div class="indice-glyemique indice">IG 60</div>
                    <div class="charge-glycemique indice">CG 15</div>
                    <div class="name">Banane</div>
                    <div class="controle">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
        </div>

        <div class="my-bolle">

        </div>
    </div>


</template>