<template name="liste">
    <div id="liste-main">
        <div class="row">
            <div class="col-md-5">
                <div class="nav-collection">

                    <div class="list-search">
                        <input id="search" type="text" placeholder="Rechercher dans une collection">
                    </div>
                    <div class="all-item-collection">
                        <!-- exemple de item -->
                        <div class="this-item">
                            <div class="indice-glyemique indice">IG 60</div>
                            <div class="charge-glycemique indice">CG 15</div>
                            <div class="name">Banane</div>

                                <div class="controle-less">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </div>
                                <div class="controle-add">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="my-bolle">
                    <h1>Liste d'aujourd'hui</h1>
                    <div class="today">



                        <div class="item-today">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
                                    <div class="num">4 X </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="name-item">Banane</div>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="cg-this-item">22 CG</div>
                                </div>
                              <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-danger">remove</button>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>






    </div>


</template>